/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*style dasar untuk body*/
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
  }
  
  /*style untuk header dan navbar */
  header {
    background-color: #172b38;
    color: rgb(132, 49, 49);
    padding: 16px;
    text-align: center;
  }
  
  header h1 {
    margin-bottom: 16px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #284254;
  }